h1 {
    border: 5px solid blue;
    margin-left: 40%;
    padding: 5px 10px;
    display: inline-block;
    color: pink;
    background-color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    border: 5px dashed blue;
    padding: 5px 10px;
    display: inline-block;
    color: pink;
    background-color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: block;
}

a {
    color: darkorchid;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid purple;
    padding: 5px 10px;
    display: block;
    width: 175px;
    margin: 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    background-color: aqua;
}

li {
    color: purple;
    border: 2px solid blue;
    margin: 15px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 5px;
}

p {
    color: darkgoldenrod;
    border: 5px solid purple;
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}