h1 {
    border: 5px solid blue;
    margin-left: 40%;
    padding: 5px 10px;
    display: inline-block;
    color: pink;
    background-color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: darkorchid;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid purple;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    background-color: aqua;
}
